@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");

:root {
  --primary-color: #22254b;
  --secondary-color: #373b69;
  --text-color: #7378c5;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  font-family: "Poppins", sans-serif;
  margin: 0;
}

/* Login Page ************************************************** */
.login-container {
  background: var(--secondary-color);
  width: 600px;
  margin: 5rem auto;
  padding: 1.5rem;
  /* display: flex; */
  display: none;
  justify-content: center;
  align-items: center;
}

.login-container .login-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.login-container .login-content h1 {
  margin: 0;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container form input {
  width: 300px;
  padding: 0.5rem;
}

.login-container form input:focus {
  outline: none;
}

.login-container #login-btn {
  color: var(--text-color);
  background: var(--primary-color);
  width: 70%;
  text-align: center;
  margin: 0.5rem 0;
  padding: 0.5rem 0;
  text-decoration: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid transparent;
}

.login-container #login-btn:hover {
  background: var(--secondary-color);
  border: 1px solid var(--primary-color);
}

.login-container .login-content span {
  color: var(--text-color);
  cursor: pointer;
  transition: all 0.2s ease;
}

.login-container .login-content span:hover {
  color: var(--primary-color);
}

/* Main Page ************************************************** */
header {
  background-color: var(--secondary-color);
  padding: 1rem;
  display: flex;
  /* display: none; */
  justify-content: space-between;
  align-items: center;
}

header #logout-btn {
  text-decoration: none;
  color: var(--text-color);
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  padding: 0.5rem 1rem;
  margin-right: 1rem;
  transition: all 0.2s ease;
}

header #logout-btn:hover {
  background: var(--primary-color);
}

header #myMovies-btn {
  text-decoration: none;
  color: var(--text-color);
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  transition: all 0.2s ease;
}

header #myMovies-btn:hover {
  border-bottom-color: var(--text-color);
}

.search {
  background-color: transparent;
  border: 2px solid var(--primary-color);
  border-radius: 50px;
  font-family: inherit;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  color: #fff;
}

.search::placeholder {
  color: #7378c5;
}

.search:focus {
  outline: none;
  background-color: var(--primary-color);
}

main {
  display: none;
  /* display: flex; */
  flex-wrap: wrap;
  justify-content: center;
}

.movie {
  width: 300px;
  margin: 1rem;
  background-color: var(--secondary-color);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  border-radius: 3px;
}

.movie img {
  width: 100%;
}

.movie-info {
  color: #eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3 {
  margin-top: 0;
}

.movie-info span {
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green {
  color: lightgreen;
}
.movie-info span.orange {
  color: orange;
}
.movie-info span.red {
  color: red;
}

.overview {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  max-height: 100%;
  transform: translateY(101%);
  transition: transform 0.3s ease-in;
}

.overview .btn {
  margin: 1rem 0;
  background: var(--primary-color);
  color: #fff;
  padding: 0.5rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease;
}

.overview .btn:hover {
  background: var(--secondary-color);
}

.movie:hover .overview {
  transform: translateY(0);
}
